<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Individual date:</strong>
  <%= @course.individual_date %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @course.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @course.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @course.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @course.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @course.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @course.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @course.sunday %>
</p>

<p>
  <strong>Ce hrs:</strong>
  <%= @course.ce_hrs %>
</p>

<p>
  <strong>Url:</strong>
  <%= @course.url %>
</p>

<p>
  <strong>Term:</strong>
  <%= @course.term %>
</p>

<p>
  <strong>Academic group:</strong>
  <%= @course.academic_group %>
</p>

<p>
  <strong>Catalog subject:</strong>
  <%= @course.catalog_subject %>
</p>

<p>
  <strong>Catalog number:</strong>
  <%= @course.catalog_number %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @course.course_title %>
</p>

<p>
  <strong>Component:</strong>
  <%= @course.component %>
</p>

<p>
  <strong>Units:</strong>
  <%= @course.units %>
</p>

<p>
  <strong>Recommended gradeyear:</strong>
  <%= @course.recommended_gradeyear %>
</p>

<p>
  <strong>Required elective:</strong>
  <%= @course.required_elective %>
</p>

<p>
  <strong>Honors ap adv:</strong>
  <%= @course.honors_ap_adv %>
</p>

<p>
  <strong>Course desc:</strong>
  <%= @course.course_desc %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
